fastapi[all]
unicorn[standard]
pydantic_settings
redis-om
pytest
httpx
databases[aiosqlite]
python-dotenv
rich
asgi-correlation-id
python-json-logger
passlib[bcrypt]
pytest-mock
python-jose
aiofiles
pyfakefs
